.CompletionButtonArea{
    display: flex;
    align-items: center;
    width:20vw;
    height:12vh;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}
.CheckImage{
    margin-left:2vw;
    margin-top:1.5vh;
    width:4vw;
    height:4vw;
}
.CompletionText{
    margin-left:3vw;
    font-size:2vw;
}