.CodeEditor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 250px;
  background-color: black;
  border-radius: 50px;
}
.textarea {
  width: 450px;
  height: 220px;
  font-size: 17px;
  background-color: black;
  color: white;
  border: 1px solid black;
  resize: none;
  outline: none;
}
.textarea:focus {
  box-shadow: none;
}
