.LanguageSelectArea {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  width: 325px;
  height: 48px;
  background-color: black;
  border-radius: 10px;
}
.Images {
  width: 30px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}
