.TitleArea {
  position: relative;
  overflow: auto;
  padding:10px;
  background-color: black;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  width: 325px;
  height: 80px;
}
.Images {
  position: absolute;
  right: 12px;
  width: 30px;
  height: 30px;
}
