.TitleArea {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  width: 325px;
  height: 40px;
}
.Images {
  position:absolute;
  right:12px;
  width: 30px;
  height: 30px;
}