.wrapper {
  height: 195px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 20px 0 0 20px;
  font-size: 12px;
  overflow-y: scroll;

  .resultOpenData {
    width: 250px;
    margin: 0 auto;

    .answerWrapper {
      margin: 5px 0;

      .userWrapper {
        display: flex;
        gap: 3px;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 3px;

        .userImg {
          width: 20px;
        }

        .userName {
          font-size: 7px;
        }
      }

      .answerData {
        position: relative;
        margin-left: 25px;
        background-color: white;
        color: black;
        border-radius: 5px;
        padding: 2px;
      }

      .answerData::after {
        content: "";
        position: absolute;
        right: 0;
        top: 5px;
        left: -5px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 5px 5px 0;
        border-color: transparent #ffffff transparent transparent;
      }
    }

    .codeWrapper {
      margin: 5px 0;

      .userWrapper {
        display: flex;
        gap: 3px;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 3px;

        .userImg {
          width: 20px;
        }

        .userName {
          font-size: 7px;
        }
      }

      .codeData {
        position: relative;
        margin-right: 25px;

        .codeLanguage {
          position: absolute;
          top: -20px;
          left: 10px;
          color: rgb(199, 255, 45);
        }

        .codeAnswer {
          position: relative;

          background-color: white;
          color: black;
          border-radius: 5px;
          padding: 2px;
        }
      }

      .codeAnswer::after {
        content: "";
        position: absolute;
        top: 5px;
        right: -5px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 5px 5px 0 0;
        border-color: #ffffff transparent transparent transparent;
      }
    }
  }
}

.wrapper::-webkit-scrollbar {
  width: 5px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: #000000;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}
