@use "@/styles/theme.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 20px;

  .settingBlock {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .range {
      height: 1.5rem
        /* 24px */
      ;
      width: 100%;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      --range-shdw: var(--bc);
      overflow: hidden;
      background-color: transparent;
      border-radius: var(--rounded-box, 1rem);
    }

    .range:focus {
      outline: none;
    }

    .range:focus-visible::-webkit-slider-thumb {
      --focus-shadow: 0 0 0 6px hsl(var(--b1)) inset, 0 0 0 2rem hsl(var(--range-shdw)) inset;
    }

    .range:focus-visible::-moz-range-thumb {
      --focus-shadow: 0 0 0 6px hsl(var(--b1)) inset, 0 0 0 2rem hsl(var(--range-shdw)) inset;
    }

    .range::-webkit-slider-runnable-track {
      height: 0.5rem
        /* 8px */
      ;
      width: 100%;
      border-radius: var(--rounded-box, 1rem);
      background-color: hsla(var(--bc) / 0.1);
    }

    .range::-moz-range-track {
      height: 0.5rem
        /* 8px */
      ;
      width: 100%;
      border-radius: var(--rounded-box, 1rem);
      background-color: hsla(var(--bc) / 0.1);
    }

    .range::-webkit-slider-thumb {
      background-color: hsl(var(--b1));
      position: relative;
      height: 1.5rem
        /* 24px */
      ;
      width: 1.5rem
        /* 24px */
      ;
      border-style: none;
      border-radius: var(--rounded-box, 1rem);
      appearance: none;
      -webkit-appearance: none;
      top: 50%;
      color: hsl(var(--range-shdw));
      transform: translateY(-50%);
      --filler-size: 100rem
        /* 1600px */
      ;
      --filler-offset: 0.6rem
        /* 9.6px */
      ;
      box-shadow: 0 0 0 3px hsl(var(--range-shdw)) inset, var(--focus-shadow, 0 0), calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);
    }

    .range::-moz-range-thumb {
      background-color: hsl(var(--b1));
      position: relative;
      height: 1.5rem
        /* 24px */
      ;
      width: 1.5rem
        /* 24px */
      ;
      border-style: none;
      border-radius: var(--rounded-box, 1rem);
      top: 50%;
      color: hsl(var(--range-shdw));
      --filler-size: 100rem
        /* 1600px */
      ;
      --filler-offset: 0.5rem
        /* 8px */
      ;
      box-shadow: 0 0 0 3px hsl(var(--range-shdw)) inset, var(--focus-shadow, 0 0), calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);
    }

    .range-primary {
      --range-shdw: var(--p);
    }

    .rangeBar {
      -webkit-appearance: slider-vertical;
    }
  }
}