@use "@/styles/theme.scss";

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .userImg {
        flex: 1;
    }

    .userName {
        flex: 9;
        font-size: 30px;
        font-weight: bold;
    }
}