@use "@/styles/theme.scss";

.wrapper {
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 10rem 0px 0px 10rem;
  border: solid 2px white;
  margin: 5px auto;
  width: 90%;
  padding: 1px;

  .userImg {
    display: flex;
    width: 20px;
    margin: 0 5px;
    border-radius: 100%;
    overflow: hidden;
  }

  .userName {
    opacity: 0.5;
    font-size: 12px;
    font-weight: bold;
  }
}
